body{
	text-align: center;
	background-color: black;
	font-family:  verdana;}
.title {

	color: red;
}

p,a {color: white;}

.btn {
  padding: 5px 20px;
  background-color: #2395c2;
  cursor: pointer;
  box-shadow: 0 5px #113d4e;
}

.btn:active {
  position: relative;
  top: 5px;
  box-shadow: none;
}

video{width:1280px;margin-top:30px;}

@media (max-width:1000px){
	video{width: 90%;}
}
