body{
	text-align: center;
	background-color: black;
	font-family:  verdana;}
.title {

	color: red;
}
video{width:1280px}

@media (max-width:1000px){
	video{width: 90%;}
}
p,a {color: white;}

.message {
  padding: 15px 40px;
  background-color: #2395c2;
  cursor: pointer;
  box-shadow: 0 7px #113d4e;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}
