body{
	text-align: center;
	background-color: black;
	font-family:  system-ui, apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;}
.title {

	color: red;
}

p,a,span {color: white; text-decoration:none;}

.btn:hover {
  opacity: 1;
  font-size:20px;
}


.btn {
  font-family: Helvetica;
  font-weight: bold;
  padding: 5px 20px;
  cursor: pointer;
  text-decoration:none;
}

video{width:1280px;margin-top:30px;}

@media (max-width:1000px){
	video{width: 90%;}
}
